.actionWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  padding: 10px 20px;
  flex-wrap: wrap;
}

@media (max-width: 960px) {
  .actionWrapper {
    display: none !important;
  }
}
