.contactWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333 !important;
  transition: color 0.3s ease;
}

.contactWrapper:hover {
  color: #ff5f1f !important;
  cursor: pointer;
}

.captionText {
  font-size: 12px !important;
  color: gray;
}
