.loginWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333 !important;
  transition: color 0.3s ease;
}

.loginWrapper:hover {
  color: #ff5f1f !important;
  cursor: pointer;
}

.loginInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.captionText {
  font-size: 12px !important;
  color: gray;
}

.loginText {
  font-size: 14px !important;
  font-weight: 500;
}
