.container {
  display: flex;
  align-items: center;
  gap: 24px;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.whatsappLink {
  display: flex;
  align-items: center !important;
  gap: 2px;
  text-decoration: none !important;
  color: #25d366 !important;
  font-weight: 500;
  font-size: 12px !important;
  transition: color 0.3s ease;
  animation: blink 1.5s infinite;
}
.favoritesLink {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none !important;
  color: #333 !important;
  font-weight: 500;
  font-size: 12px !important;
  transition: color 0.3s ease;
}

.whatsappLink:hover {
   color: #0f7c37;
  animation: none; 
}
.favoritesLink:hover {
  color: #ff5f1f !important;
}

.whatsappIcon {
  color: #25d366;
  font-size: 20px;
}

.icon {
  font-size: 20px;
}

.linkText {
  font-size: 14px !important;
}
