.list {
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 0;
}

.link {
  text-decoration: none !important;
  color: #333 !important;
  font-size: 15px !important;
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap !important;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff5f1f;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.link:hover {
  color: #ff5f1f;
}

.link:hover::after {
  width: 100%;
}
